/* You can add global styles to this file, and also import other style files */
@import "./assets/scss1/app.scss";

body {
    min-height: 75rem;
    padding-top: 4rem;
  }

  #header img {
    width: 80px;
  }
  
  .img-car {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
  }
  
.router-wrapper  {
    position:  relative;
    overflow:  hidden;
    width:  100vw;
    height:  calc(100%  -  47px);
    perspective:  1200px;
    transform-style:  preserve-3d;
}

:host  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}


/* ===== Infinite rotation animation ===== */

.overlay {
  /* display: none; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

  .overlay .opacity {
      background-color: #2C3A3F;
      filter: alpha(opacity=80);
      opacity: 0.8;
      width: 100%;
      height: 100%;
      position: relative;
  }

.spin {
  display: inline-block;
  -webkit-animation: rotation 2s linear infinite;
  -moz-animation: rotation 1s ease infinite;
  -ms-animation: rotation 1s ease infinite;
  -o-animation: rotation 1s ease infinite;
  animation: rotation 1s ease infinite;
}

.overlay .spin {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

@-webkit-keyframes rotation {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes indicator {
  0% {
      -moz-transform: rotate(0deg);
  }

  100% {
      -moz-transform: rotate(359deg);
  }
}

@-ms-keyframes indicator {
  0% {
      -ms-transform: rotate(0deg);
  }

  100% {
      -ms-transform: rotate(359deg);
  }
}

@-o-keyframes indicator {
  0% {
      -o-transform: rotate(0deg);
  }

  100% {
      -o-transform: rotate(359deg);
  }
}

@keyframes indicator {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(359deg);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

  .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
  }

      .lds-roller div:after {
          content: " ";
          display: block;
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #fff;
          margin: -4px 0 0 -4px;
      }

      .lds-roller div:nth-child(1) {
          animation-delay: -0.036s;
      }

          .lds-roller div:nth-child(1):after {
              top: 63px;
              left: 63px;
          }

      .lds-roller div:nth-child(2) {
          animation-delay: -0.072s;
      }

          .lds-roller div:nth-child(2):after {
              top: 68px;
              left: 56px;
          }

      .lds-roller div:nth-child(3) {
          animation-delay: -0.108s;
      }

          .lds-roller div:nth-child(3):after {
              top: 71px;
              left: 48px;
          }

      .lds-roller div:nth-child(4) {
          animation-delay: -0.144s;
      }

          .lds-roller div:nth-child(4):after {
              top: 72px;
              left: 40px;
          }

      .lds-roller div:nth-child(5) {
          animation-delay: -0.18s;
      }

          .lds-roller div:nth-child(5):after {
              top: 71px;
              left: 32px;
          }

      .lds-roller div:nth-child(6) {
          animation-delay: -0.216s;
      }

          .lds-roller div:nth-child(6):after {
              top: 68px;
              left: 24px;
          }

      .lds-roller div:nth-child(7) {
          animation-delay: -0.252s;
      }

          .lds-roller div:nth-child(7):after {
              top: 63px;
              left: 17px;
          }

      .lds-roller div:nth-child(8) {
          animation-delay: -0.288s;
      }

          .lds-roller div:nth-child(8):after {
              top: 56px;
              left: 12px;
          }

@keyframes lds-roller {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}