<!-- <app-breadcrumb [title]="'Add Post'" [items]="['Apps', 'Blog']" [active_item]="'Add Post'"></app-breadcrumb> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ titulo }}</h5>
        </div>
        <!-- (ngSubmit)="onSubmit()" [formGroup]="formPost" -->
        <form class="row needs-validation">
          <input class="form-control" type="hidden" [(ngModel)]="postFormModel.Id" name="Id">
          <div class="card-body add-post">
            <div class="col-sm-12">
              <div class="text-center">
                <img class="rounded mx-auto d-block " height="200px" src="{{ postFormModel.ImagenBase64 | noImage2 }}" alt="">
              </div>
              <div class="form-group">
                <label for="validationCustom01">Titulo:</label>
                <input class="form-control" type="text" name="Titulo" [(ngModel)]="postFormModel.Titulo">
                <!-- <input type="text" > -->
                <!-- <div class="valid-feedback">Looks good!</div> -->
              </div>
              <div class="form-group">
                <div class="col-form-label">Categoria:
                  <ng-select class="mt-2" [items]="categorias" bindLabel="name" bindValue="id" name="Categoria"
                    [(ngModel)]="postFormModel.Categoria" [multiple]="true" [ngModelOptions]="{standalone: true}">
                  </ng-select>
                </div>
              </div>
              <div class="email-wrapper">
                <div class="theme-form">
                  <div class="form-group">
                    <label>Content:</label>
                    <ckeditor [data]="''" name="Cuerpo" [(ngModel)]="postFormModel.Cuerpo" [editor]="ClassicEditor">
                    </ckeditor>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="dropzone dropzone-primary" (init)="onUploadInit($event)" (error)="onUploadError($event)"
                (success)="onUploadSuccess($event)" [dropzone]="config">
                <div class="dz-message needsclick">
                  <i class="icon-cloud-up"></i>
                  <h6>Suelta los archivos aquí o haz clic para subirlos.</h6>
                </div>
              </div>
              </div>
            </div>

            <div class="btn-showcase">
              <button class="btn btn-warning" (click)="onSubmit()">Guardar Post</button>
              <input class="btn btn-light" type="reset" value="Discard">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>