<div class="comments" id="comments">
    <div class="comment_number">
        Comments <span>(2)</span>
    </div>
    <div class="comment-list">
        <!-- Comment -->
        <div class="comment" id="comment-{{comentario.id}}" *ngFor="let comentario of comentarios">
            <div class="image"><img alt="" src="/assets/images/blog/comment.jpg" class="avatar"></div>
            <div class="text">
                <h5 class="name">{{ comentario.nombreCompleto }}</h5>
                <span class="comment_date">{{ comentario.fecha }}</span>
                <!-- <a class="comment-reply-link" href="#">Reply</a> -->
                <div class="text_holder">
                    <p [innerText]="comentario.mensaje"></p>
                </div>
            </div>
            <div class="comment" id="comment-{{ comentario.id }}-{{ comentarioHijo.id }}"
                *ngFor="let comentarioHijo of comentario.comentarios">
                <div class="image"><img alt="" src="/assets/images/blog/comment.jpg" class="avatar"></div>
                <div class="text">
                    <h5 class="name">{{ comentarioHijo.nombreCompleto }}</h5>
                    <span class="comment_date">{{ comentarioHijo.fecha }}</span>
                    <!-- <a class="comment-reply-link" href="#">Reply</a> -->
                    <div class="text_holder">
                        <p [innerText]="comentarioHijo.mensaje"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>