<div id="comments" class="post-block mt-5 post-comments">
    <h4 class="mb-3">Comentarios</h4>

    <ul class="comments">
        <li *ngFor="let comentario of comentarios">
            <div class="comment">
                <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                    <img class="avatar" alt="" src="assets/images/blog/comment.jpg">
                </div>
                <div class="comment-block">
                    <div class="comment-arrow"></div>
                    <span class="comment-by">
                        <strong [innerText]="comentario.nombreCompleto"></strong>
                        <span class="float-end">
                            <span>
                                <a href="#">
                                    <i class="icofont icofont-reply"></i>
                                    Reply
                                </a>
                            </span>
                        </span>
                    </span>
                    <p [innerText]="comentario.mensaje"></p>
                    <span class="date float-end">{{ comentario.fecha }}</span>
                </div>
            </div>

            <ul class="comments reply">
                <li *ngFor="let comentarioHijo of comentario.comentarios">
                    <div class="comment">
                        <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                            <img class="avatar" alt="" src="assets/images/blog/comment.jpg">
                        </div>
                        <div class="comment-block">
                            <div class="comment-arrow"></div>
                            <span class="comment-by">
                                <strong [innerText]="comentarioHijo.nombreCompleto"></strong>
                                <span class="float-end">
                                    <span>
                                        <a href="#">
                                            <i class="icofont icofont-reply"></i>
                                            Reply
                                        </a>
                                    </span>
                                </span>
                            </span>
                            <p [innerText]="comentarioHijo.mensaje"></p>
                            <span class="date float-end">{{ comentarioHijo.fecha }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

</div>