<!-- <app-breadcrumb [title]="'Single Blog'" [items]="['Apps', 'Blog']" [active_item]="'Single Blog'"></app-breadcrumb> -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="blog-single" *ngIf="post">
                <div class="blog-box blog-details">
                    <img class="img-fluid w-100" src="{{ post.imagen | noImage2 }}" alt="blog-main">
                    <div class="blog-details">
                        <ul class="blog-social">
                            <li class="digits">{{ post.fecha | date:'dd MMMM yyyy' }}</li>
                            <li>
                                <i class="icofont icofont-user"></i>
                                {{post.autor}}
                            </li>
                            <li class="digits">
                                <i class="icofont icofont-eye-alt"></i>{{ post.vistas }}
                                <span>Vistas</span>
                            </li>
                            <li class="digits"><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                        </ul>
                        <h4>
                            {{ post.titulo }}
                        </h4>
                        <div class="single-blog-content-top" [innerHtml]="post.cuerpo">

                        </div>
                    </div>
                </div>
                <div *ngIf="comentarios.length > 0">
                    <app-comments [comentarios]="comentarios"></app-comments>
                </div>
            </div>
        </div>
    </div>
</div>