<div class="respond-form" id="respond">
    <div class="respond-comment">
        Leave a <span>Comment</span></div>
    <form class="form-gray-fields">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="upper" for="name">Name</label>
                    <input class="form-control required" name="senderName" placeholder="Enter name" id="name" aria-required="true" type="text">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="upper" for="email">Email</label>
                    <input class="form-control required email" name="senderEmail" placeholder="Enter email" id="email" aria-required="true" type="email">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="upper" for="website">Website</label>
                    <input class="form-control website" name="senderWebsite" placeholder="Enter Website" id="website" aria-required="false" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="upper" for="comment">Your comment</label>
                    <textarea class="form-control required" name="comment" rows="9" placeholder="Enter comment" id="comment" aria-required="true"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Submit Comment</button>
                </div>
            </div>
        </div>
    </form>
</div>