// Alerts
@mixin alert-variant($background, $border, $color) {
    color: color-yiq($background);
    @include gradient-bg($background);
    border-color: $border;
  
    hr {
      border-top-color: darken($border, 5%);
    }
  
    .alert-link {
        color: color-yiq($background);
        font-weight: $font-weight-bold; 
    }
    .close > span {
        color: color-yiq($background);
    }
}