<h4 class="widget-title">Posts Recientes</h4>
<div class="post-thumbnail-list">
    <!-- <div class="post-thumbnail-entry">
        <img alt="" src="images/blog/thumbnail/5.jpg">
        <div class="post-thumbnail-content">
            <a href="#">A true story, that never been told!</a>
            <span class="post-date"><i class="icon-clock"></i> 6m ago</span>
            <span class="post-category"><i class="fa fa-tag"></i> Technology</span>
        </div>
    </div>
    <div class="post-thumbnail-entry">
        <img alt="" src="images/blog/thumbnail/6.jpg">
        <div class="post-thumbnail-content">
            <a href="#">Beautiful nature, and rare feathers!</a>
            <span class="post-date"><i class="icon-clock"></i> 24h ago</span>
            <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
        </div>
    </div>
    <div class="post-thumbnail-entry">
        <img alt="" src="images/blog/thumbnail/7.jpg">
        <div class="post-thumbnail-content">
            <a href="#">Lorem ipsum dolor sit amet</a>
            <span class="post-date"><i class="icon-clock"></i> 11h ago</span>
            <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
        </div>
    </div> -->
</div>