<footer id="footer" class=" pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <a href="#">Preguntas frecuentes</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Contáctanos</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Prensa</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Conferencias</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Términos y condiciones</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Privacidad</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Estudiantes</a>
        </div>
      </div>
    </div>
  </footer>
